* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;

  font-family: "Montserrat", sans-serif;
}

.order-modal .ant-modal-content {
  background: rgb(13, 80, 255);
}
